@import '~bootstrap/scss/bootstrap'
img
  width: 100%
  height: 15em
  border-top-right-radius:  .5em
  border-top-left-radius: .5em
.content-container
  margin: .5em .5em
  height: 40%
  border-radius: .5em
  background-color: #272731
.wrapper
  margin-left: -.6em
  margin-right: -.6em
  width: 30em
.producer-p
  color: #E9CF58
.year-p
  color: #484852
.movie-details
  background-color: #181822
  padding: 0 !important
.close
  width: 19.4em !important
  font-size: 2em !important
  background-color: #181822 !important
  color: white !important
.close:focus
  outline: none !important
#close-modal
  background: none !important
  position: absolute
  z-index: 1
  width: 2em !important
  right: 0
#close-modal span
  font-size: 1.5em
  filter: grayscale(1)
.modal-details
  position: relative
  overflow: scroll

