<div class="row dashboard-container">
  <div class="col">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" id="nav">
      <ng-container>
        <div ngbNavItem>
          <a ngbNavLink>
            <span class="material-icons">grade</span>
          </a>
          <ng-template ngbNavContent>
            <div class="col d-flex flex-wrap justify-content-between pt-5 title-section">
              <h2 class="text-white">Watchlist</h2>
              <p class="favorite-p">All your favorite movies in one place </p>
            </div>
          <div class="row d-flex justify-content-start movies-wrapper">
            <div *ngFor="let movie of movies" style="max-width: 25%">
              <app-movie-card (openMovieDetails)="handleMovieDetails($event)" [movie]="movie"></app-movie-card>
            </div>
          </div>
          </ng-template>
        </div>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>
          <span class="material-icons">videocam</span>
        </a>
        <ng-template ngbNavContent>
          <p></p>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>
          <span class="material-icons">settings</span>
        </a>
        <ng-template ngbNavContent>
          <p></p>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2 col"></div>
  </div>
  <div *ngIf="openDetail" class="col-3 movies-details-wrapper">
    <app-movie-details (closeMovieDetails)="handleMovieDetails($event)" [movie]="movieDetails"></app-movie-details>
  </div>
</div>
