<div *ngIf="!loading" class="row dashboard-container">
  <div class="col pr-0">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" id="nav">
      <ng-container>
        <div ngbNavItem>
          <a ngbNavLink>
            <span class="material-icons">grade</span>
          </a>
          <ng-template ngbNavContent>
            <div
              class="col d-flex flex-wrap justify-content-between pt-5 title-section"
            >
              <h2 class="text-white">Watchlist</h2>
              <p class="favorite-p">All your favorite movies in one place</p>
            </div>
            <div class="row d-flex justify-content-start movies-wrapper">
              <div *ngFor="let movie of movies" style="max-width: 30%;">
                <app-movie-card
                  [id]="movie.id"
                  (openMovieDetails)="handleMovieDetails($event)"
                  [movie]="movie"
                >
                </app-movie-card>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>
          <span class="material-icons">videocam</span>
        </a>
        <ng-template ngbNavContent>
          <h1 class="text-white">Movies scheduled to watch will appear hear</h1>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>
          <span class="material-icons">settings</span>
        </a>
        <ng-template ngbNavContent>
          <h1 class="text-white">Adjust your preferences</h1>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2 col"></div>
  </div>
  <div *ngIf="openDetail" class="col movies-details-wrapper pl-0">
    <app-movie-details
      (closeMovieDetails)="handleMovieDetails($event)"
      [movie]="movieDetails"
    ></app-movie-details>
  </div>
</div>

<div
  class="loader d-flex justify-content-center align-items-center"
  *ngIf="loading"
>
  <h3 class="pl-3 text-white">Getting your watchlist</h3>
  <div>
    <div class="spinner-grow text-white" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
