.cancel
  left: 26.5em
  top: 1em
  position: absolute
@media screen and (min-width: 1400px)
  .cancel
    left: 25em
    top: 1em
.imdb
  border: 2px solid
  font-size: .8em
  border-radius: 2px
.btn-icon
  background-color: transparent !important
  border: none
.p-section
  border-top: 1px solid white
::ng-deep .responsive > svg
  height: 4em !important
::ng-deep .responsive
  padding-bottom: 4em !important
  width: 4em !important
.rating-wrapper
  display: flex
  justify-content: flex-start
  align-items: flex-end
.company
  margin-left: 1em
  width: 2em
.rating
  position: fixed
  right: 25.8em
  bottom: 29.1em
