  <div class="col" style="background-color: aquamarine">
    <button class="btn btn-primary cancel">X</button>
    <div class="row d-flex  flex-column flex-wrap">
      <div>
        <img src="https://images.unsplash.com/photo-1561505397-8e667b30ef2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
      </div>
      <div class="d-flex">
        <p class="text-white pt-3">The Shape of Water</p>
        <p class="pt-3 pl-3">2017</p>
      </div>
      <div class="d-flex">
        <p class="text-white pt-3">Chariss Chali</p>
        <p class="pt-3 pl-3">Drama | Fantasy</p>
      </div>
      <div class="">
        <p class="mb-0 pb-3  producer-p">
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table craft beer twee
        </p>
        <p class="">Rating icon <span>IMDb</span></p>
      </div>
      <div class="d-flex justify-content-around">
        <button class="btn btn-primary">UNFAV</button>
        <button class="btn btn-primary">SET</button>
        <button class="btn btn-primary">INFOS</button>
        <button class="btn btn-primary">TRAILER</button>
      </div>
      <span class="mi mi-face">f</span>
    </div>
  </div>
