.cancel
  left: 26.5em
  top: 1em
  position: absolute
  color: white
  .cancel-icon
    font-size: 3em !important
    font-weight: 800 !important
@media screen and (min-width: 1400px)
  .cancel
    left: 92%
    top: 1%
.imdb
  border: 2px solid
  font-size: .8em
  border-radius: 2px
.btn-icon
  background-color: transparent !important
  border: none
.p-section
  border-top: 1px solid white
::ng-deep .responsive > svg
  height: 4em !important
::ng-deep .responsive
  padding-bottom: 4em !important
  width: 4em !important
.rating-wrapper
  display: flex
  justify-content: flex-start
  align-items: flex-end
.company
  margin-left: 1em
  width: 2em
  padding-left: 2em
.icons-section
  background-color: #272731
.rating
  margin-left: -2.7em
  font-weight: bold
.overview
  height: 14em
img
  height: 30em
  width: 100%
@media screen and (max-width: 768px)
  img
    height: 20em
  .overview
    height: 22em
